@model AppWebConcesionario.Models.Inventario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color: white;">Detalles</h1>

<div>
    <hr />
    <dl class="row" style="color: white;">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idVehiculo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idVehiculo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cantidadVehiculos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cantidadVehiculos)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-danger" style="color: black;">Volver a Lista</a>
</div>

