@*
//Fecha Creacion: 20-05-2024
//Funcion: Contener la vista con todos los componentes para editar el inventario.
//Fecha Ultima Modificacion:31-05-2024
//Responsable: Dylan Barrantes //Razon: Colocar de forma correcta el asp action del form*@

@* //. *@


@model AppWebConcesionario.Models.Inventario

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<hr />
<div class="row" id="formularioCreate">
    <div class="col-md-4">
        <form asp-action="Edit"> @* Form encargado de activar el metodo de Edit *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h1>Editar</h1>
            <div class="form-group">
                <label class="control-label">ID</label>
                <input asp-for="idVehiculo" class="form-control" style="color: black;" readonly />
                <span asp-validation-for="idVehiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">CANTIDAD DE VEHICULOS</label>
                <input asp-for="cantidadVehiculos" class="form-control" style="color: black;" />
                <span asp-validation-for="cantidadVehiculos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-warning mt-3" />
                <a asp-action="Index" class="btn btn-danger mt-3" style="color: black;">Volver</a>
            </div>
        </form>
    </div>
</div>
