@model List<Inventario>

@{
    ViewData["Title"] = "Inventario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Inventario</h1>

<table class="table">
    <thead>
        <tr>
            
            <th>
                Id
            </th>
            <th>
                Cantidad
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @item.idVehiculo
                </td>
                <td>
                    @item.cantidadVehiculos
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.idVehiculo" class="btn btn-warning" style="color: black;">Editar</a> /
                    <a asp-action="Details" asp-route-id="@item.idVehiculo" class="btn btn-danger" style="color: black;">Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>