@model AppWebConcesionario.Models.Vehiculo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<hr />
<div class="row">
    
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post" id="formularioCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h2>Insertar Vehiculo</h2>
            <div class="form-group">
                <label asp-for="marcaVehiculo" class="control-label"></label>
                <input asp-for="marcaVehiculo" class="form-control" />
                <span asp-validation-for="marcaVehiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modeloVehiculo" class="control-label"></label>
                <input asp-for="modeloVehiculo" class="form-control" />
                <span asp-validation-for="modeloVehiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipoCombustible" class="control-label"></label>
                <select asp-for="tipoCombustible" class="form-control">
                    <option selected="selected" value="Gasolina">Gasolina</option>
                    <option value="Electrico">Electrico</option>
                    <option value="Diesel">Diesel</option>
                </select>
                <span asp-validation-for="tipoCombustible" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="imagenUrl" class="control-label"></label>
                <input type="file" asp-for="imagenUrl" name="files" class="form-control" />
                <span asp-validation-for="imagenUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="precioVehiculo" class="control-label"></label>
                <input asp-for="precioVehiculo" class="form-control" />
                <span asp-validation-for="precioVehiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="cantidad" class="control-label">Cantidad</label>
                <input id="cantidad" name="cantidad" type="number" class="form-control" />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="estadoActivo" /> @Html.DisplayNameFor(model => model.estadoActivo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mt-3" />
                <a asp-action="ListaAdmin" class="btn btn-danger mt-3">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    #formularioCreate {
        background-color: whitesmoke;
        border: 1px solid #dedede;
        border-radius: 1em;
        box-shadow: 5px 5px 5px rgba(25,0,0,25);
        padding: 1em;
        margin: 0 auto;
        width: auto;
        text-align: left;
        color: #393939;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

</style>