@model AppWebConcesionario.Models.Vehiculo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-5 col-9 col-xl-3 formulario position-absolute top-50 start-50 translate-middle">
        <h1>Editar Vehiculo</h1>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idVehiculo" class="control-label"></label>
                <input asp-for="idVehiculo" class="form-control" readonly/>
                <span asp-validation-for="idVehiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="marcaVehiculo" class="control-label"></label>
                <input asp-for="marcaVehiculo" class="form-control" readonly />
                <span asp-validation-for="marcaVehiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modeloVehiculo" class="control-label"></label>
                <input asp-for="modeloVehiculo" class="form-control" readonly />
                <span asp-validation-for="modeloVehiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipoCombustible" class="control-label"></label>
                <select asp-for="tipoCombustible" class="form-control" readonly>
                    <option selected="selected" value="Gasolina">Gasolina</option>
                    <option value="Electrico">Electrico</option>
                    <option value="Diesel">Diesel</option>
                </select>
                <span asp-validation-for="tipoCombustible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precioVehiculo" class="control-label"></label>
                <input asp-for="precioVehiculo" class="form-control" readonly />
                <span asp-validation-for="precioVehiculo" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="estadoActivo" /> @Html.DisplayNameFor(model => model.estadoActivo)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="imagenUrl" class="control-label"></label>
                <input asp-for="imagenUrl" class="form-control" readonly />
                <span asp-validation-for="imagenUrl" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Volver</a>
            </div>           
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
