@model AppWebConcesionario.Models.Promocion

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="formularioCreate">

    <h4>Promocion</h4>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="idVehiculo" class="control-label">Vehiculo</label>
                    <select asp-for="idVehiculo" id="idVehiculo" class="form-control" asp-items="@(ViewData["Vehiculos"] as SelectList)"></select>
                    <span asp-validation-for="idVehiculo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Precio Original</label>
                    <input class="form-control" id="precio" readonly/>
                </div>
                <div class="form-group">
                    <label asp-for="precioPromocion" class="control-label">Precio de Promocion</label>
                    <input asp-for="precioPromocion" class="form-control" />
                    <span asp-validation-for="precioPromocion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="lugarPromocion" class="control-label">Lugar de Promocion</label>
                    <select asp-for="lugarPromocion" class="form-select">
                        <option value="">Seleccione una Provincia</option>
                        <option value="Puntarenas">Puntarenas</option>
                        <option value="Guanacaste">Guanacaste</option>
                        <option value="Alajuela">Alajuela</option>
                        <option value="Heredia">Heredia</option>
                        <option value="Cartago">Cartago</option>
                        <option value="Sanjose">Sanjose</option>
                        <option value="Limon">Limon</option>
                    </select>
                    <span asp-validation-for="lugarPromocion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary mt-3" />
                    <a asp-action="ListaAdmin" class="btn btn-dark mt-3">Volver</a>
                </div>
            </form>
        </div>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    document.getElementById('idVehiculo').addEventListener('change', async function () {
        var selectedOption = this.options[this.selectedIndex];
        var precioInput = document.getElementById('precio');
        var vehiculoId = selectedOption.value;

        try {
            var precioVehiculo = await obtenerPrecioVehiculo(vehiculoId);

            // Actualizar el campo de entrada "Precio Original" con el precio del vehículo seleccionado
            precioInput.value = precioVehiculo;
        } catch (error) {
            console.error(error);
            // Manejar cualquier error que pueda ocurrir al obtener el precio del vehículo
            precioInput.value = ""; // Limpiar el campo de entrada en caso de error
        }
    });

    async function obtenerPrecioVehiculo(vehiculoId) {
        try {
            const response = await fetch(`/Promocion/GetPrecioVehiculo?id=${vehiculoId}`);
            if (!response.ok) {
                throw new Error('Error al obtener el precio del vehículo');
            }
            const precio = await response.json();
            return precio;
        } catch (error) {
            throw error;
        }
    }
</script>
