html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: url(img/Fondo01.jpg);
}

.formulario {
    font-weight: bold;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.210);
    border-radius: 1em;
    padding: 1em;
}



