@model AppWebConcesionario.Models.Usuario

@{
    ViewData["Title"] = "RegistrarUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>RegistrarUsuario</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegistrarUsuario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>           
            <div class="form-group">
                <label asp-for="nombreUsuario" class="control-label"></label>
                <input asp-for="nombreUsuario" class="form-control" />
                <span asp-validation-for="nombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cedulaUsuario" class="control-label"></label>
                <input asp-for="cedulaUsuario" class="form-control" />
                <span asp-validation-for="cedulaUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefonoUsuario" class="control-label"></label>
                <input asp-for="telefonoUsuario" class="form-control" />
                <span asp-validation-for="telefonoUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correoUsuario" class="control-label"></label>
                <input asp-for="correoUsuario" class="form-control" />
                <span asp-validation-for="correoUsuario" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="lugarResidencia" class="control-label"></label>
                <select asp-for="lugarResidencia" name="listaLugares" class="form-select">
                    <option selected>Seleccione una Provincia</option>
                    <option value="Puntarenas">Puntarenas</option>
                    <option value="Guanacaste">Guanacaste</option>
                    <option value="Alajuela">Alajuela</option>
                    <option value="Heredia">Heredia</option>
                    <option value="Cartago">Cartago</option>
                    <option value="Sanjose">Sanjose</option>
                    <option value="Limon">Limon</option>
                </select>
                <span asp-validation-for="lugarResidencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
