@*
//Fecha Creacion: 15-05-2024
//Funcion: Contener botones de redireccion para la modificacion de cada modulo especifico
//Fecha Ultima Modificacion:29-05-2024
//Responsable: Dylan Barrantes //Razon: Estilizar la estética de la vista.*@



@{
    ViewData["Title"] = "VistaAdministrativa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid text-center">
    <div class="formulario">
        <div class="row d-flex flex-row justify-content-center flex-wrap">
            <h1 style="color:aliceblue;">Administracion</h1>

            <div class="card">
                <div class="card-image-container">
                    <img src="~/css/img-administracion/promos.jpg" />
                </div>
                <p class="card-title mt-3">Marketing</p>
                <p class="card-des mt-3">
                    Gestion de las Promociones
                </p>
                <a asp-action="ListaAdmin" asp-controller="Promocion" class="btn btn-dark mt-3" type="submit">Ir</a>
            </div>

            <div class="card">
                <div class="card-image-container">
                    <img src="~/css/img-administracion/inventario.jpg" />
                </div>
                <p class="card-title mt-3">Inventario</p>
                <p class="card-des mt-3">
                    Gestion del modulo de inventario
                </p>
                <a asp-action="Index" asp-controller="Inventarios" class="btn btn-dark mt-3" type="submit">Ir</a>
            </div>

            <div class="card">
                <div class="card-image-container">
                    <img src="~/css/img-administracion/auditoria.jpg" />
                </div>
                <p class="card-title mt-3">Gestion de Auditoria</p>
                <p class="card-des mt-3">
                    Gestion del registro de auditoria
                </p>
                <a asp-action="Index" asp-controller="Auditoria" class="btn btn-dark mt-3" type="submit">Ir</a>
            </div>

            <div class="card">
                <div class="card-image-container">
                    <img src="~/css/img-administracion/clientes.jpg" />
                </div>
                <p class="card-title mt-3">Clientes</p>
                <p class="card-des mt-3">
                    Gestion del modulo de clientes
                </p>
                <a asp-action="Index" asp-controller="Usuario" class="btn btn-dark mt-3" type="submit">Ir</a>
            </div>
        </div>
    </div>
</div>

<style>
    .card {
        display: flex;
        flex-direction: column;
        width: 250px;
        height: auto;
        max-height: 330px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.08), -4px -4px 12px rgba(0, 0, 0, 0.08);
        overflow: hidden;
        transition: all 0.3s;
        cursor: pointer;
        box-sizing: border-box;
        padding: 10px;
        margin-bottom: 20px; /* Agregamos un margen inferior para separar los cards */
    }

        .card:not(:last-child) {
            margin-right: 20px; /* Agregamos un margen derecho para separar los cards horizontalmente */
        }

        .card:hover {
            transform: translateY(-10px);
            box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1), -4px -4px 12px rgba(0, 0, 0, 0.08);
        }

    .card-image-container {
        width: 100%;
        height: 180px;
        border-radius: 10px;
        margin-bottom: 12px;
        background-color: rgb(165, 165, 165);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden; /* Agregamos overflow:hidden nuevamente */
    }

        .card-image-container img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Ajustamos la imagen dentro del contenedor */
        }

    .card-title {
        margin: 0;
        font-size: 17px;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        font-weight: 600;
        color: black;
        cursor: default;
        text-align: center; /* Centramos el texto */
    }

    .card-des {
        margin: 0;
        font-size: 13px;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        color: black;
        cursor: default;
        text-align: center; /* Centramos el texto */
    }
</style>