
@{
    ViewData["Title"] = "VistaAdministrativa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid text-center">
    <div class="formulario">
        <div class="row d-flex flex-row justify-content-center flex-wrap">
            <h1>VistaAdministrativa</h1>
            <div class="col-xl col-lg-3 col-md-6 mt-4">
                <div class="card cardVistaAdministrador">
                    <div class="card-body">
                        <h5 class="card-title">Administrar Inventario</h5>
                        <a asp-action="Index" asp-controller="Inventarios" class="btn btn-success" type="submit">Redirigir</a>
                    </div>
                </div>
            </div>
            <div class="col-xl col-lg-3 col-md-6 mt-4">
                <div class="card cardVistaAdministrador">
                    <div class="card-body">
                        <h5 class="card-title">Modulo de Marketing</h5>
                        <a asp-action="Index" asp-controller="Promocion" type="submit" class="btn btn-success">Redigir</a>
                    </div>
                </div>
            </div>
            <div class="col-xl col-lg-3 col-md-6 mt-4">
                <div class="card cardVistaAdministrador">
                    <div class="card-body">
                        <h5 class="card-title">Modulo Gestion de Auditoria</h5>
                        <a asp-action="Index" asp-controller="Auditoria" type="submit" class="btn btn-success">Redigir</a>
                    </div>
                </div>
            </div>
            <div class="col-xl col-lg-3 col-md-6 mt-4">
                <div class="card cardVistaAdministrador">
                    <div class="card-body">
                        <h5 class="card-title">Ver Listado de clientes</h5>
                        <a asp-controller="Usuario" asp-action="Index" type="submit" class="btn btn-success">Redigir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
                <div style=" width:auto; padding: 20px;">

                </div> *@
